<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title><%= title %> - <%= subtitle %></title>
    <meta name="description" content="<%= description %>">

    <meta name="theme-color"           content="#48CBAB">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"              content="width=device-width, initial-scale=1">

    <meta property="og:url"            content="<%= url %>">
    <meta property="og:image"          content="<%= url %>/assets/images/arthurvasconcelos.jpg">
    <meta property="og:title"          content="<%= title %>">
    <meta property="og:description"    content="<%= description %>">
    <meta property="og:type"           content="blog">

    <meta name="twitter:card"          content="summary">
    <meta name="twitter:creator"       content="<%= twitter %>">
    <meta name="twitter:site"          content="<%= twitter %>">
    <meta name="twitter:domain"        content="<%= url %>">
    <meta name="twitter:title"         content="<%= title %>">
    <meta name="twitter:description"   content="<%= description %>">
    <meta property="og:image"          content="<%= url %>/assets/images/arthurvasconcelos.jpg">

    <link href="<%= base %>assets/images/favicon.png"     rel="icon">
    <link href="<%= base %>assets/images/favicon.big.png" rel="icon" sizes="192x192">

    <link rel="stylesheet" href="<%= base %>assets/css/main.css">

    <%- partial("_aux/ga") %>
  </head>

  <body>
    <section class="mainContent" role="main">
      <% if(current.path[0] === "blog" && current.source !== "index") { %>
        <%- partial(current.path[0] + "/_post", { source: current.source }) %>
      <% } else { %>
        <%- yield %>
      <% } %>
    </section>

    <script src="<%= base %>assets/js/plugins.js"></script>
    <script src="<%= base %>assets/js/main.js"></script>

    <%- partial("_aux/idl") %>
  </body>
</html>
